{% extends 'coffeeWorld/base.html' %}
{%block content %}
    <form action="{% url 'order_confirmation' %}" method="POST">
        {% csrf_token %}
        <div class="drinks_container">
            {% for bean in beans %}
                <div class="drink">
                    <h2>{{ bean.name }}</h2>
                    <p>{{ bean.country|linebreaksbr }}</p>
                    <b class="price">${{ bean.price }}</b>
                    <div class="quantity_input_container">
                        <label for="quantity{{ bean.id }}">Quantity:</label>
                        <input class="quantityinput" type="number" id="quantity{{ bean.id }}" name="quantity_{{ bean.id }}" min="0">
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="create_order_btn_container">
            <button class="order_btn" type="submit">Create Order</button>
        </div>
    </form>
{%endblock%}
