{% extends 'coffeeWorld/base.html' %}
{%block content %}
    <form action="{% url 'order_confirmation' %}" method="POST">
        {% csrf_token %}
        <div class="drinks_container">
            {% for drink in drinks %}
                <div class="drink">
                    <h2>{{ drink.name }}</h2>
                    <p>{{ drink.ingredients|linebreaksbr }}</p>
                    <b class="price">${{ drink.price }}</b>
                    <div class="quantity_input_container">
                        <label for="quantity{{ drink.id }}">Quantity:</label>
                        <input class="quantity_input" type="number" id="quantity{{ drink.id }}" name="quantity_{{ drink.id }}" min="0">
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="create_order_btn_container">
            <button class="order_btn" type="submit">Create Order</button>
        </div>
    </form>
{%endblock%}
